:root {
  --color-primary: #ffffff;
  --color-secondary: #f4f4f4;
  --color-tertiary: #333;
  --color-quaternary: #222;
  --color-quinary: #111;
  --color-white: #fff;
  --color-black: #000;
}


.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  color: var(--color-tertiary);
  text-align: center;
}

h1 {
  font-size: calc(48px + 2vmin);
  margin-top: 2rem;
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}

#numberOfevents,
#city-search {
  text-align: left;
  width: 450px;
}

.number, #number {
  width: 100%;
}

#city-search .city,
#city-label {
  width: 450px;
  margin-top: 0rem;
}

.city,
.number {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--color-tertiary);
}

img {
  width: auto;
  height: 90px;
  margin: 0;
}

.city {
  position: relative;
  width: 450px;
}

.suggestions {
  border: 1px solid var(--color-tertiary);
  background-color: var(--color-primary);
  list-style: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: -3rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1; 
}

.city,
.suggestions {
  background-color: var(--color-primary);
  z-index: 1;
}

label {
  font-weight: 700;
}

#event-list {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  padding: 1rem;
}

#event-list li {
  margin: 0 auto;
  text-align: left;
}

.event {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  background-color: var(--color-primary);
  border: 1px solid var(--color-tertiary);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  list-style-type: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.eventSummary {
  line-height: 1.2;
  font-size: calc(10px + 1vmin);
}

.eventSummary .location {
  margin-top: 3rem;
  font-size: calc(12px + 1vmin);
  line-height: 1.3;
}

.details-btn {
  width: auto;
  height: 40px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: calc(10px + 1vmin);
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.event .details-btn {
  grid-column: 1 / 3;
  justify-self: right;
}

.event .details {
  grid-column: span 2;
  font-size: calc(10px + 1vmin);
  line-height: normal;
  margin-top: -1.6rem;
}

@media screen and (min-width: 500px) {
  .App {
    display: block;
    padding: 0;
    margin: 0 auto;
  }

  .App h1, p, #city-search, #numberOfevents, img , #event-list {
    padding: 1rem;
  }

  .App:first-child {
    font-size: 24px;
    font-weight: 600;
    text-wrap: wrap;
  }

  .charts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding-inline-start: 5rem;
  }

 #event-list {
    grid-template-columns: auto;
    gap: 1rem;
    width: auto;
    margin: 0 auto;
    margin-top: 1.5;
  }

  #city-search, #numberOfevents{
    margin: 0 auto;
  }

  label {
    text-align: left;
  }

  #city-label, .city {
    margin-top: 0rem;
  }

  .city, .suggestions {
    position: relative;
    margin: 0 auto;
  }

  .suggestions {
    position: absolute;
    width: 440px;
  }

  img {
    width: 30%;
    margin: 0 auto;
  }

  .event {
    width: 55rem;
    padding: 1rem;
    left: 0;
  }

}


@media screen and (max-width: 768px) {
  .App {
    margin: 0 auto;
    overflow-x: hidden;
  }

  .App:first-child {
    font-size: 22px;
    font-weight: 600;
    text-wrap: wrap;
  }

  .App h1, #numberOfevents,#city-search, #event-list {
    padding: 10px 5px;
    width: 100%;
  }
 
  h1 {
    font-size: calc(36px + 2vmin); 
    margin: 0;
    margin-top: 2rem;
  }

  #number .number {
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    margin-left: -0.8rem;
    
  }

  #numberOfevents {
    width: auto;
    margin: 0 auto;
  }

  #city-search {
    width: auto;
    padding: 1rem;
  }

  #city-label {
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
  }
  
  #city-label
   .city {
    width: auto;
    padding: 1rem;
  }
  
  img {
    width: 100%;
    margin: 0 auto;
  }

  .city, .suggestions {
    position: relative;
    margin: 0;
  }

  .suggestions {
    position: absolute;
    z-index: 1;
    width: 81%;  
  }

  #event-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1rem 0;
  }

  #event-list li {
    margin: 0 auto;
    text-align: left;
    width: 68%;
  }

  .event {
    display: grid;
    grid-template-rows: 1fr;
    width: fit-content;
    padding: 0.5rem 2.5rem;
  }

  .eventSummary {
    grid-area: span 2;
    line-height: 1.2;
  }

  .event .details-btn {
    height: 40px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 12px;
    margin-right: -1rem;
  }
}