
:root {
  --color-primary: #ffffff;
  --color-secondary: #f4f4f4;
  --color-tertiary: #333;
  --color-quaternary: #222;
  --color-quinary: #111;
  --color-white: #fff;
  --color-black: #000;
}


.App {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: var(--color-tertiary);
  text-align: center;
}

.App h1, .search, #event-list {
  padding: 5rem;
  margin: 0 auto;
}

h1 {
  font-size: calc(18px + 2vmin);
  margin: 0;
  padding: 2.5rem;
  margin-top: 4rem;
  
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  max-width: 80%;
}

.search #numberOfevents, img, #city-search {
  margin: 0 auto;
  padding: 0;
}

#numberOfevents, #city-search {
  display: flex;
  flex-direction: column;
  width: auto;
  text-align: left;
}

#city-search .city label {
  margin-top: 0rem;
}

/* .search .map-num {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.map-num {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  margin: 0 auto;
}

.city , .number {
  width: 250px;
  padding: 1rem 2rem;
  border-radius: 5px;
}

img {
  width: 200px;
  height: 90px;
  margin: 0;
  padding: 0;
}

.suggestions {
  position: absolute;
  width: 250px;
  border: 1px solid var(--color-tertiary);
  background-color: var(--color-primary);
  list-style: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: -3rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.city, .suggestions {
  position: relative;
  width: 250px;
  background-color: var(--color-primary);
  margin: 0;
  z-index: 1;
}

label {
  font-weight: 700;
}

.App #event-list {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem;
  max-width: 80%;
  padding: 5rem;
  margin: 0 auto;
}

#event-list {
  max-width: 80%;
  padding: 5rem;
}

#event-list li {
 margin: 0 auto; 
 text-align: left;
 
}

.event {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 80%;
  background-color: var(--color-primary);
  border: 1px solid var(--color-tertiary);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  list-style-type: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.eventSummary {
  line-height: 1.2;
  font-size: calc(10px + 1vmin);
}

.eventSummary .location {
  margin-top: 3rem;
  font-size: calc(12px + 1vmin);
  line-height: 1.3;
}

.details-btn {
  width: auto;
  height: 40px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: calc(10px + 1vmin);
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.event .details-btn {
  grid-column: 1 / 3;
  justify-self: right;
}

.event .details {
  grid-column: span 2;
  font-size: calc(10px + 1vmin);
  line-height: normal;
  margin-top: -1.6rem;
}

@media screen and (max-width: 768px) {
  .App {
    padding: 0;
  }

  .App #event-list {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;
    max-width: 80%;
    padding: 1rem;
    margin: 0 auto;
  }

  h1 {
    font-size: calc(36px + 2vmin);
    margin: 0;
    padding: 2.5rem;
    margin-top: 2rem;
  }
  
  .search {
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
  }

  .search .city, img, .number{
    padding: 1rem 2rem;
    /* margin: 0 auto; */
  }

  .city, .number {
    width: 100%;
    padding: 0.5rem 2rem;
    border-radius: 5px;
  }

  #numberOfevents {
    margin-top: 10px;
  }

  #numberOfevents, #city-search {
    flex-direction: column;
    text-align: left;
    align-items: center;
  }

  .city, .suggestions {
    width: 100%;
    padding: 0.5rem 1rem;
  }

  #event-list {
    grid-template-columns: 1fr;
    width: auto;
    padding: 5px;
  }

  .event {
    grid-template-columns: 1fr;
    width: 80%;
    padding: 0.5rem 2rem;
  }

  .eventSummary {
    line-height: 1.2;
  }

  .event .details-btn{
    width: auto;
    height: 40px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 12px;
    margin-right: -1rem;
  }
  
}